<header class="hero-home">
  <div class="width-wrapper">
    <h1 class="hero-home-copy"><span class="hero-copy-color">Helping</span> you</br>
      help yourself,</br>
      <span class="hero-copy-color">naturally</span>.
    </h1>
    {{ 'home-garlic.png' | asset_url | img_tag }}
  </div>
</header>

<section class="cta-section">
  <div class="width-wrapper">
    <h3>would you like to...</h3>
    {{ 'cta-decoration.png' | asset_url | img_tag }}
    <p><a class="go-shop" href="#">Go Shopping</a> <span class="or">or</span> <a class="services" href="#">View Services</a></p>
  </div>
</section>

<section class="intro-home">
  <div class="width-wrapper">
    <h3>a little about myself...</h3>
    {{ 'home-intro-decoration.png' | asset_url | img_tag }}
    {{ pages['home-page-introduction'].content }}
    <a class="btn" href="#">Learn More</a>
  </div>
</section>

