<div id="page" class="row">
  
	<div class="span12 details cinnamon-bg">
	  	<div class="width-wrapper">
	  		<div class="regular-page">
	  			<h1 class="p25">{{ page.title }}</h1>
			    <div class="photo-column">{{ 'carla.png' | asset_url | img_tag }}</div>
			    <div class="content-column">{{ page.content }}</div>
	  		</div>
	 	</div>
	</div>
  
</div>